@charset "UTF-8";

/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

a:visited,
a:link {
    color: var(--ad-color-lightgray);
}

:root {
    --ad-color-darkgray: #212121;
    --ad-color-gray: #444;
    --ad-color-semigray: #808080;
    --ad-color-lightgray: #D9D9D9;
}


/* public class */
.pointer {
    cursor: pointer;
}

.clear {
    clear: both;
}

/* aside */
aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    float: left;
    text-align: center;
    color: var(--ad-color-lightgray);
    background: var(--ad-color-gray);
}

aside .logo-box {
    width: 100%;
}

aside .logo-box img {
    width: 70%;
}

aside nav {
    margin-top: 60px;
}

aside nav ul {
    width: 100%;
    height: fit-content;
}

aside nav ul li {
    height: 50px;
    font-size: 18px;
    line-height: 50px;
}
aside nav ul li:hover {
    background: var(--ad-color-semigray);
}

aside nav ul li a {
    display: block;
}

li.community_sub_menu {
	background-color: #000;	
}
aside nav ul.sub-menu {
    display: none;
}

aside button#logout-btn {
    height: 30px !important;
    margin-top: 30px !important;
    font-size: 18px !important;
    border: none !important;
    background: transparent !important;
}

main {
    width: calc(100% - 250px) !important;
    margin-left: 250px;
    /* border: solid 1px red; */
}

main section {
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 50px;
    /* border: solid 1px blue; */
}

/* 관리자페이지 인덱스 CSS */
main section#admin_index_section .inner {
    /* border: solid 1px blue; */
}

main section#admin_index_section .inner .row_section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

main section#admin_index_section .inner .second_row {
    margin-top: 30px;
}

main section#admin_index_section .inner .row_section .card {
    width: 600px;
}

main section#admin_index_section .inner .row_section .card .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

main section#admin_index_section .inner .row_section .card .title-box h3 {
    display: inline-block;
    font-size: 26px;
}

main section#admin_index_section .inner .row_section .card .title-box a {
    color: #000;
}



main section#admin_index_section .inner .row_section .card .content_box {
    width: 100%;
}

main section#admin_index_section .inner .row_section .card .content_box table {
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
    text-align: center;
}

main section#admin_index_section .inner .row_section .card .content_box table,
main section#admin_index_section .inner .row_section .card .content_box table tr,
main section#admin_index_section .inner .row_section .card .content_box table th,
main section#admin_index_section .inner .row_section .card .content_box table td {
    border: solid 1px black;
}

main section#admin_index_section .inner .row_section .card .content_box table tr {
    height: 50px;
}

main section#admin_index_section .inner .row_section .card .content_box table td {
    max-width: 150px;
    padding: 5px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

main section#admin_index_section .inner .row_section .card .content_box table td input[type="text"] {
    width: 100%;
    height: 50px;
    padding: 0 5px;
    border: none;
}


main section#admin_index_section .inner .row_section #product_card table th:nth-of-type(1) {
    width: 80px;
}

main section#admin_index_section .inner .row_section #board_card table th:nth-of-type(1) {
    width: 80px;
}

main section#admin_index_section .inner .row_section #user_card table th:nth-of-type(1) {
    width: 80px;
}