@charset "UTF-8";

/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

a:visited, a:link {
    color: var(--color-lightgray);
}

:root {
    --color-darkgray: #212121;
    --color-gray: #444;
    --color-semigray: #808080;
    --color-lightgray: #D9D9D9;
}


/* public class */
.pointer {
    cursor: pointer;
}

.clear {
	clear:both;
}

/* aside */
aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    float: left;
    text-align: center;
    color: var(--color-lightgray);
    background: var(--color-gray);
}

aside .logo-box {
    width: 100%;
}

aside .logo-box img {
    width: 70%;
}

aside nav {
    margin-top: 60px;
}

aside nav ul {
    width: 100%;
    height: fit-content;
}

aside nav ul li {
    height: 50px;
    font-size: 18px;
    line-height: 50px;
}

aside nav ul li:hover {
    background: var(--color-semigray);
}

aside nav ul li a {
    display: block;
}


aside nav ul.sub-menu {
    display: none;
}

aside button#logout-btn {
    height: 30px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    background: transparent;
}

main {
    width: calc(100% - 250px) !important;
    margin-left: 250px;
    border: solid 1px red;
}

main section{
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 50px;
    border: solid 1px blue;
}

/* 관리자페이지 인덱스 CSS */
main section#admin_index_section .inner .content_box {
	width: 600px;
	height: 350px;
	margin-top: 15px;
	border: solid 1px red;
	float:left;
}

main section#admin_index_section .inner .content_box:nth-child(even){
	float:right;
}

main section#admin_index_section .inner .content_box .card {
	width: 100%;
	border: solid 1px blue;
}