/* adminProductEdit.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px; /* 좌측 사이드바를 기준으로 고정 너비 */
    margin-left: 500px; /* 좌측 사이드바 너비만큼 왼쪽으로 여백 추가 */
    padding: 20px 10px;
    position: relative;
    box-sizing: border-box; /* 패딩이 너비에 포함되도록 설정 */
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-top: 10px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    border: none;
/*     border-radius: 4px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive design for mobile devices */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    
    h1 {
        font-size: 20px;
    }
}
