@charset "UTF-8";

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

textarea {
	resize: none;
}

:root {
	--color-light-main: #FFDE95;
	--color-main: #FFD26E;
	--color-blk: #000;
	--color-white: #fff;
	--color-gray: #D9D9D9;
	--ad-color-darkgray: #212121;
	--ad-color-gray: #444;
	--ad-color-semigray: #C0C0C0;
	--ad-color-lightgray: #D9D9D9;
}

button {
	width: fit-content;
	height: 30px;
	padding: 0 5px;
	background: var(--color-main);
	border-radius: 5px;
	border: none;
}

button:hover {
	background: var(--color-light-main);
}

section pre, section textarea, section p, section select, section input, section button {
	font-family: 'Quicksand', 'Noto Sans KR', sans-serif;
	margin-bottom: 0;
}

/* 인덱스 페이지 */
section#index p {
	margin-bottom: 0;
}

section#index div.inner h1{
	margin-top: 10px;
	margin-bottom: .5rem;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 500;
	font-family: 'yg-jalnan' !important;
}

section#index div.inner .search-form {
	margin-top: 5px;
	text-align: right;
	/* border: solid 1px red; */
}

section#index div.inner .search-form>* {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
}

section#index div.inner .search-form select {
	width: 80px;
	height: 40px;
	padding: 0 5px;
	border: solid 1px #ddd;
	border-radius: 4px;
}

section#index div.inner .search-form input[name=searchKeyword] {
	width: 20%;
	height: 40px;
	padding: 0 5px;
	border: solid 1px #ddd;
	border-right: none;
	border-radius: 4px 0 0 4px;
}

section#index div.inner .search-form button.search-btn {
	height: 40px;
	margin-left: -5px;
	padding: 0 10px;
	background: transparent;
	border: solid 1px #ddd;
	border-left: none;
	border-radius: 0 4px 4px 0;
}

section#index div.inner .search-form button.write-btn {
	float: right;
	height: 40px;
	margin-left: 20px;
}

section#index div.inner table {
	width: 100%;
	margin-top: 10px;
	font-size: 18px;
	border-collapse: collapse;
}

section#index div.inner table tr {
	height: 50px;
/* 	border-bottom: solid 2px var(--color-gray); */
}

section#index div.inner table tr:nth-of-type(1) td {
	border-top: solid 1px var(--ad-color-semigray);
}

section#index div.inner table td {
	display: flex;
	flex-direction: column;
	height: 120px;
	padding: 10px 15px;
	/* background: #F9F9F9; */
	/* 	border-top: solid 1px var(--ad-color-semigray); */
	border-bottom: solid 1px var(--ad-color-semigray);
}

section#index div.inner table td p.title {
	display: flex;
	align-items: center;
	margin-top: 5px;
	font-weight: 500;
}

section#index div.inner table td p.title span.category {
	display: inline-block;
	width: 50px;
	color: #007bff;
	font-weight: bold;
	margin-right: 5px;
}

section#index div.inner table td p.title span.title {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 20px;
	font-weight: bold;
	/* border: solid 1px red; */
}

section#index div.inner table td p.title span.comment {
	display: inline-block;
	margin-left: 5px;
	color: red;
	font-weight: bold;
}

section#index div.inner table td div.info-box {
	margin-top: auto;
	font-size: 18px;
	color: #666;
}
/* 확인 요청 */
/* section#index div.inner table td div.info-box span.writer {
	font-weight: 900;
} */

section#index div.inner .pagination {
	display: flex;
	width: fit-content;
	margin: 0 auto;
	margin-top: 30px;
}

section#index div.inner .pagination li {
	margin: 0 15px;
	padding: 10px 15px;
	font-size: 20px;
	font-weight: 600;
}


section#index div.inner .pagination li .page-link {
	border: none;
}

section#index div.inner .pagination li.active {
	border-bottom: solid 2px var(--color-main);
}

.pagination li a,
.pagination li a:link,
.pagination li a:visited {
	color: #000;
}

.pagination li a:hover {
	color: var(--color-light-main);
}

/* .pagination li.active a,
.pagination li.active a:link,
.pagination li.active a:visited {
	color: var(--color-main);
} */

/* 글 작성 페이지 */
section#write div.inner form {
	width: 100%;
}

section#write div.inner form .input-group {
	width: 100%;
	margin-top: 15px;
	padding-bottom: 15px;
}

section#write div.inner form .input-group input[type='text'] {
	width: 100%;
	height: fit-content;
	padding: 5px 0;
	font-size: 30px;
	border: none;
	border-bottom: solid 1px var(--color-gray);
	outline: none;
}

section#write div.inner form .input-group textarea {
	width: 100%;
	height: 250px;
	padding: 5px;
	font-size: 20px;
	border: solid 1px var(--color-gray);
	outline: none;
}

section#write div.inner form .preview_box {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

section#write div.inner form .preview_box div {
	width: 50%;
}

section#write div.inner form .preview_box img {
	width: 100%;
	object-fit: contain;
}

section#write div.inner form .input-group label {
	display: inline-block;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	border-radius: 5px;
	background: var(--color-main);
}

section#write div.inner form .input-group label:nth-of-type(1) {
	margin-right: 15px;
}

section#write div.inner form .input-group input[type="file"] {
	display: none;
}

section#write div.inner form .btn-area {
	width: 100%;
	margin-top: 30px;
	text-align: center;
}

section#write div.inner form .btn-area button {
	width: 60px;
}


/* 글 세부 페이지 */
section#info div.inner div.container {
	width: 100% !important;
	/* padding: 20px; */
}

section#info div.inner div.container .text-group {
	width: 100%;
	/* padding: 0 60px; */
	/* border: solid 1px green */
}

section#info div.inner div.container .text-group.borad_info {
	padding: 10px 15px;
	background: #f9f9f9;
	border: solid 1px #DDD;
	border-radius: 8px;
}

section#info div.inner div.container .text-group p.title_box {
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	/* 	border: solid 1px red; */
}

section#info div.inner div.container .text-group p.title_box span.category {
	margin-right: 5px;
	color: #007bff;
}

section#info div.inner div.container .text-group.borad_info div {
	display: flex;
	align-items: center;
	margin-top: 10px;
	color: #666;
	font-size: 18px;
}

section#info div.inner div.container .text-group.borad_info div span:nth-of-type(1) {
	margin-right: 5px;
	font-weight: 900;
}

section#info div.inner div.container .text-group.board_content_box {
	margin-top: 15px;
}

section#info div.inner div.container .text-group .btn-area {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
}

section#info div.inner div.container .text-group .img-box {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

section#info div.inner div.container .text-group .img-box img {
	width: 50%;
	object-fit: contain;
}

section#info div.inner div.container .text-group .vote_box {
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

section#info div.inner div.container .text-group .vote_box li {
	float: left;
	width: 50%;
	text-align: center;
}

section#info div.inner div.container .text-group .vote_box li:nth-of-type(3),
section#info div.inner div.container .text-group .vote_box li:nth-of-type(4) {
	margin-top: 10px;
}

section#info div.inner div.container .text-group pre {
	width: 100%;
	white-space: pre-line;
	margin-top: 30px;
	font-size: 18px;
}

section#info div.inner>.btn-area {
	text-align: right;
}

section#info div.inner .fm_comment_write {
	width: 100%;
	margin-bottom: 15px;
	padding-top: 15px;
	/* border-top: solid 2px var(--color-main); */
}

section#info div.inner .fm_comment_write textarea {
	width: calc(100% - 50px);
	height: 50px;
	padding: 5px;
	border: solid 1px var(--color-main);
	border-radius: 10px 0 0 10px;
}

section#info div.inner .fm_comment_write button {
	width: 50px;
	height: 50px;
	border-radius: 0 10px 10px 0;
	float: right;
}

section#info div.inner #comment_area {
	width: 100%;
	/*     border: solid 1px red; */
}

section#info div.inner #comment_area .comment_box {
	height: fit-content;
	padding: 10px 0;
	border-bottom: solid 1px var(--color-gray);
}

section#info div.inner #comment_area>p,
section#info div.inner #comment_area pre {
	display: inline-block;
	font-size: 16px;
}

section#info div.inner #comment_area pre {
	width: calc(100% - 100px);
	white-space: normal;
}

section#info div.inner #comment_area div.comment_info {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

section#info div.inner #comment_area .comment_info p.writer {
	font-size: 18px;
	font-weight: bold;
}

section#info div.inner #comment_area button.recomment_btn {
	padding: 0 5px;
	margin-left: 10px;
}

section#info div.inner #comment_area .comment_info p.date {
	position: absolute;
	right: 0;
	font-size: 14px;
}

section#info div.inner #comment_area .comment_info pre {
	width: calc(100% - 100px);
	height: fit-content;
	padding: 0 10px;
	font-size: 16px;
	/*     border: solid 1px blue; */
}

section#info div.inner #comment_area .comment_btn {
	display: flex;
	gap: 5px;
	float: right;
}

section#info div.inner #comment_area .comment_btn button {
	padding: 0 5px;
}

section#info div.inner #comment_area textarea[name="vs_comment"] {
	display: none;
	width: calc(100% - 100px);
	/*     padding: 0 10px; */
	font-size: 16px;
}

section#info div.inner #comment_area .comment_btn .updateCancelButton {
	display: none;
}

section#info div.inner .recomment_area {
	display: none;
	width: calc(100% - 30px);
	margin: 10px 0 0 30px;
	/* 	border: solid 1px red; */
}

section#info div.inner .recomment_area textarea {
	width: calc(100% - 50px);
	height: 30px;
	padding: 0 10px;
	border-radius: 10px 0 0 10px;
	border: solid 1px var(--color-main);
}

section#info div.inner .recomment_area>button {
	width: 50px;
	height: 30px;
	border-radius: 0 10px 10px 0;
	float: right;
}

section#info div.inner .recomment_area .recomment_info {
	margin-top: 10px;
	margin-bottom: 10px;
}

section#info div.inner .recomment_area .recomment_info p.writer {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}

section#info div.inner .recomment_area .recomment_info p.date {
	float: right;
	font-size: 14px;
}

section#info div.inner .recomment_area pre.comment {
	margin-top: 5px;
}

section#info div.inner .board_list_btn {
	margin-top: 30px;
	margin-bottom: 40px;
}

/* 글 수정 페이지 */
section#modify div.inner form {
	width: 100%;
}

section#modify div.inner form .input-group {
	width: 100%;
	margin-top: 15px;
	padding-bottom: 15px;
}

section#modify div.inner form .input-group .btn_list {
	display: inline-block;
}

section#modify div.inner form .input-group input[type='text'] {
	width: 100%;
	height: fit-content;
	padding: 5px 0;
	font-size: 30px;
	border: none;
	border-bottom: solid 1px var(--color-gray);
	outline: none;
}

section#modify div.inner form .input-group textarea {
	width: 100%;
	height: 250px;
	padding: 5px;
	font-size: 20px;
	border: solid 1px var(--color-gray);
	outline: none;
}

section#modify div.inner form .input-group .img_box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}

section#modify div.inner form .input-group .img_box img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 600px;
}

section#modify div.inner form .input-group .img_box .close {
	position: absolute;
	top: 30px;
	right: 30px;
	background: none;
	border: none;
	color: white;
	font-size: 40px;
}

section#modify div.inner form .input-group .img_select {
	display: none;
}

section#modify div.inner form .input-group .img_select label {
	display: inline-block;
	height: 30px;
	padding: 0 10px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	background: var(--color-main);
	border-radius: 5px;
}

section#modify div.inner form .input-group .img_select input[type="file"] {
	display: none;
}

section#modify div.inner form .preview_box {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

section#modify div.inner form .preview_box div {
	width: 50%;
}

section#modify div.inner form .preview_box img {
	width: 100%;
	object-fit: contain;
}

section#modify div.inner form .btn-area {
	width: 100%;
	margin-top: 30px;
	text-align: center;
}

section#modify div.inner form .btn-area button {
	width: 45px;
	height: 30px;
}

/* === 관리자 페이지 === */
button#ScrollTop {
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 100%;
}

section#admin .button_list {
	float: right;
	margin-bottom: 30px;
}

section#admin .button_list button {
	height: 30px;
	background: var(--color-blk);
	color: var(--color-white);
}

section#admin .button_list button:hover {
	background: var(--ad-color-semigray);
}

section#admin div.inner h3 {
	display: inline-block;
	float: left;
	font-size: 30px;
	/* border: solid 1px red; */
}

section#admin div.inner table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

section#admin div.inner table tr,
section#admin div.inner table tr th,
section#admin div.inner table tr td {
	border: solid 1px black;
}

section#admin table#admin_list_table thead tr {
	height: 50px;
}

section#admin table#admin_list_table tr td:nth-of-type(1),
section#admin table#admin_list_table tr td:nth-of-type(2) {
	width: 50px;
}

section#admin div.inner table tr th:nth-of-type(4),
section#admin div.inner table tr th:nth-of-type(5) {
	width: 100px;
}

section#admin table#admin_list_table tbody tr.basic_info {
	height: 50px;
}

section#admin table#admin_list_table tbody tr.img_info,
section#admin table#admin_list_table tbody tr.content_info {
	display: none;
}

section#admin div.inner table#admin_list_table tbody tr td input[type=text],
section#admin div.inner table#admin_list_table tbody tr td textarea {
	font-size: 16px;
}

section#admin div.inner table#admin_list_table tbody tr td input[type=text] {
	width: 100%;
	height: 50px;
	border: none;
	text-align: center;
}

section#admin div.inner table#admin_list_table tbody tr td button {
	margin: 0 5px;
	background: var(--color-blk);
	color: var(--color-white);
}

section#admin div.inner table#admin_list_table tbody tr td button:hover {
	background: var(--ad-color-semigray);
}

section#admin div.inner table#admin_list_table tbody tr td textarea {
	width: 100%;
	height: 100px;
	padding: 5px;
	border: none;
	vertical-align: middle;
}

section#admin div.inner table#admin_list_table tbody tr td img {
	width: 100%;
	vertical-align: middle;
}

section#admin div.inner table#admin_list_table tbody tr input:read-only {
	outline: none;
}

section#admin #modal {
	position: fixed;
	top: 0;
	left: 250px;
	width: calc(100% - 250px);
	height: 100vh;
	display: none;
	background: rgba(0, 0, 0, 0.6);
}

section#admin #modal button.close {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 40px;
	height: 40px;
	font-size: 30px;
	color: #fff;
	background: none;
}

section#admin #modal .inner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 900px;
	max-height: 600px;
	margin: 0 auto;
	background: #fff;
	transform: translate(-50%, -50%);
	/* border: solid 1px red; */
	overflow-y: scroll;
}

section#admin #modal .inner table#admin_comment_table {
	/* border: solid 1px red; */
}

section#admin #modal .inner table#admin_comment_table thead tr th {
	height: 30px;
}

section#admin #modal .inner table#admin_comment_table thead tr th:nth-child(1) {
	width: 200px;
}

section#admin #modal .inner table#admin_comment_table thead tr th:nth-child(2) {
	width: 100%;
}

section#admin #modal .inner table#admin_comment_table thead tr th:nth-child(3) {
	width: 100px;
}

section#admin #modal .inner table#admin_comment_table tbody tr td {
	height: 50px;
}

section#admin #modal .inner table#admin_comment_table tbody tr td button {
	background: #000;
	color: #fff;
}

/* 모바일버전 */
@media screen and (max-width: 425px) {
	.mobile {
		/* 천성으로 적용 */
		display: initial;
	}

	section div.inner {
		padding: 0 30px;
	}

	.mobile-hide {
		display: none;
	}
	
	button {
		font-size: 14px;
	}

	/* 글 목록페이지 */
	section#index div.inner .search-form select {
		width: 70px;
	}

	section#index div.inner .search-form input[name=searchKeyword] {
		width: calc(100% - 130px);
	}

	section#index div.inner .search-form button.search-btn {
		width: 55px;
		padding: 0 5px;
	}

	section#index div.inner button.write-btn {
		margin-top: 10px;
		margin-right: 4px;
	}

	section#index div.inner table {
		font-size: 16px;
	}

	/* 
	section#index div.inner table td.number,
	section#index div.inner table td.date {
		font-size: 14px;
	}

	section#index div.inner table td:nth-of-type(2) {
		width: 300px;
	}

	section#index div.inner table td.title span.title-span {
		max-width: 230px;
		font-size: 14px;
	} */

	section#index div.inner table td {
		height: 70px;
		padding: 0;
	}

	section#index div.inner table td p.title {
		width: 100%;
		max-width: 350px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	section#index div.inner table td p.title span.category {
		width: fit-content;
	}

	section#index div.inner table td p.title span.title {
		width: fit-content;
		max-width: calc(100% - 100px);
		font-size: 16px;
	}

	section#index div.inner table td div.info-box {
		font-size: 16px;
		margin-top: 10px;
	}

	/* 세부 글 보기 */
	section#info div.inner div.container .board_info p.title {
		width: calc(100% - 100px);
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 18px;
	}

	section#info div.inner div.container .board_info p.date {
		width: 100px;
		font-size: 14px;
	}

	section#info div.inner div.container .board_info p.writer {
		font-size: 16px;
	}

	section#info div.inner div.container .text-group .img-box {
		flex-direction: column;
	}

	section#info div.inner div.container .text-group .img-box img {
		width: 100%;
	}

	section#info div.inner div.container .text-group pre {
		width: 100%;
		font-size: 16px;
	}

	section#info div.inner #comment_area pre {
		width: calc(100% - 80px);
		font-size: 14px;
	}

	section#info div.inner #comment_area textarea[name="vs_comment"] {
		width: calc(100% - 80px);
		font-size: 14px;
	}

	section#info div.inner #comment_area .comment_info p.writer {
		font-size: 16px;
	}

	/* 글 작성 */
	section#write div.inner form .input-group input[type='text'] {
		font-size: 26px;
	}

	/* 글 수정 */
	section#modify div.inner form .input-group input[type='text'] {
		font-size: 26px;
	}

	section#modify div.inner form .input-group .img_box .close {
		top: 150px;
	}

	section#modify div.inner form .input-group .img_box img {
		width: 100%;
	}

	section#modify div.inner form .input-group .img_select {
		margin: 10px 0;
	}
}