@charset "UTF-8";

textarea {
	resize: none;
}

button {
	height: 30px;
	padding: 0 5px;
	background: var(--color-main);
	border-radius: 5px;
	border: none;
}

/* --color-black: #2D2626;
--color-dark-main: #655353;
--color-red-main: #8C5353;
--color-main: #BE8168;
--color-dark-cream: #DEC7A8;
--color-cream: #E5D6BF;
--color-white: #E7E5EA; */
button:hover {
	color: var(--color-cream);
	background: var(--color-red-main);
}

section div.inner {
	max-width: 1300px;
	margin: 0 auto;
	/* border: solid 1px blue; */
}

section div.inner table {
	/* border: solid 1px green; */

}

/* 인덱스 페이지 */
section#index div.inner .search-form {
	text-align: center;
}

section#index div.inner .search-form>* {
	vertical-align: middle;
	display: inline-block;
}

section#index div.inner .search-form select {
	height: 30px;
	border: solid 1px var(--color-main);
}

section#index div.inner .search-form input[name=searchKeyword] {
	height: 30px;
	border: solid 1px var(--color-main);
	border-radius: 5px;
}

section#index div.inner .search-form button.search-btn {
	height: 30px;
	padding: 0 5px;
}

section#index div.inner button.write-btn {
	float: right;
	width: 55px;
	height: 30px;
	/* border: solid 1px green; */
}

section#index div.inner table {
	width: 100%;
	margin-top: 30px;
	font-size: 18px;
	border-collapse: collapse;
}

section#index div.inner table tr {
	height: 50px;
	border-bottom: solid 2px var(--color-main);
}

section#index div.inner table thead tr {
	color: var(--color-cream);
	background: var(--color-main);
}

section#index div.inner table td {
	text-align: center;
}

section#index div.inner table td.title {
	position: relative;
}

section#index div.inner table td.title span.comment-span {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	margin-left: 10px;
	font-size: 16px;
	color: red;
}

section#index div.inner table th:nth-of-type(1) {
	width: 100px;
}

section#index div.inner table th:nth-of-type(2) {
	width: 750px;
}

section#index div.inner table th:nth-of-type(3) {
	width: 200px;
}

section#index div.inner table th:nth-of-type(4) {
	width: 250px;
}

section#index div.inner .pagination {
	display: flex;
	width: fit-content;
	margin: 0 auto;
	margin-top: 30px;
}

section#index div.inner .pagination li {
	margin: 0 15px;
	padding: 10px 15px;
	font-size: 20px;
	font-weight: 600;
}

section#index div.inner .pagination li.active {
	border-bottom: solid 2px var(--color-main);
}

.pagination li a, .pagination li a:link, .pagination li a:visited {
	color: #000;
}

.pagination li a:hover {
	color: var(--color-main);
}

.pagination li.active a,
.pagination li.active a:link,
.pagination li.active a:visited {
	color: var(--color-main);
}

/* 글 작성 페이지 */
section#write div.inner form {
	width: 100%;
}

section#write div.inner form .input-group {
	width: 100%;
	margin-top: 15px;
	padding-bottom: 15px;
}

section#write div.inner form .input-group input[type='text'] {
	width: 100%;
	height: 30px;
}

section#write div.inner form .input-group textarea {
	width: 100%;
	height: 250px;
}

section#write div.inner form .btn-area {
	width: 100%;
	margin-top: 30px;
	text-align: center;
}

section#write div.inner form .preview_box {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

section#write div.inner form .preview_box div {
	width: 50%;
}

section#write div.inner form .preview_box img {
	width: 100%;
	object-fit: contain;
}

/* 글 세부 페이지 */
section#info div.inner div.container {
	width: 100%;
	/* padding: 20px; */
}

section#info div.inner div.container .text-group {
	width: 100%;
	/* padding: 0 60px; */
	/* border: solid 1px green */
}

section#info div.inner div.container .text-group p {
	display: inline-block;
}

section#info div.inner div.container .board_info {
	position: relative;
	display: flex;
	align-items: center;
	height: 50px;
	border-top: solid 2px var(--color-main);
}

section#info div.inner div.container .board_info p.title {
	float: left;
	width: calc(100% - 150px);
	font-size: 28px;
}

section#info div.inner div.container .board_info p.date {
	position: absolute;
	top: 50%;
	right: 0;
	width: 150px;
	text-align: right;
	font-size: 20px;
	transform: translate(0, -50%);
	/* border: solid 1px red; */
}

section#info div.inner div.container .board_info p.writer {
	float: left;
	font-size: 18px;
}

section#info div.inner div.container .text-group .btn-area {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
}

section#info div.inner div.container .text-group .btn-area button {
	width: 40px;
	height: 30px;
}

section#info div.inner div.container .board_content_box {
	height: fit-content;
	padding: 10px 0;
	/* background: beige; */
	border-top: solid 2px var(--color-main);
}

section#info div.inner div.container .text-group .img-box {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

section#info div.inner div.container .text-group .img-box img {
	width: 50%;
	object-fit: contain;
}

section#info div.inner div.container .text-group .vote_box {
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

section#info div.inner div.container .text-group .vote_box li {
	float: left;
	width: 50%;
	text-align: center;
}

section#info div.inner div.container .text-group .vote_box li:nth-of-type(3),
section#info div.inner div.container .text-group .vote_box li:nth-of-type(4) {
	margin-top: 10px;
}

section#info div.inner div.container .text-group .vote_box li button {
	width: 65px;
	height: 30px;
}

section#info div.inner div.container .text-group pre {
	margin-top: 30px;
	font-size: 18px;
}

section#info div.inner>.btn-area {
	text-align: center;
}

section#info div.inner .fm_comment_write {
	width: 100%;
	margin-bottom: 15px;
	padding-top: 15px;
	/* border-top: solid 2px var(--color-main); */
}

section#info div.inner .fm_comment_write textarea {
	width: calc(100% - 50px);
	height: 50px;
	padding: 5px;
	border: solid 1px var(--color-main);
}

section#info div.inner .fm_comment_write button {
	width: 50px;
	height: 50px;
	border-radius: 0 5px 5px 0;
	float: right;
}

section#info div.inner #comment_area {
	width: 100%;
	/*     border: solid 1px red; */
}

section#info div.inner #comment_area .comment_box {
	height: fit-content;
	padding: 10px 0;
	border-bottom: solid 1px var(--color-main);
}

section#info div.inner #comment_area > p,
section#info div.inner #comment_area pre {
	display: inline-block;
	font-size: 16px;
}

section#info div.inner #comment_area pre {
	width: calc(100% - 100px);
	white-space: normal;
}

section#info div.inner #comment_area div.comment_info {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

section#info div.inner #comment_area .comment_info p.writer {
	font-size: 18px;
	font-weight: bold;
}

section#info div.inner #comment_area button.recomment_btn {
	padding: 0 5px;
	margin-left: 10px;
}

section#info div.inner #comment_area .comment_info p.date {
	position: absolute;
	right: 0;
	font-size: 14px;
}

section#info div.inner #comment_area .comment_info pre {
	width: calc(100% - 100px);
	height: fit-content;
	padding: 0 10px;
	font-size: 16px;
	/*     border: solid 1px blue; */
}

section#info div.inner #comment_area .comment_btn {
	display: flex;
	gap: 5px;
	float: right;
}

section#info div.inner #comment_area .comment_btn button {
	padding: 0 5px;
}

section#info div.inner #comment_area textarea[name="vs_comment"] {
	display: none;
	width: calc(100% - 100px);
	/*     padding: 0 10px; */
	font-size: 16px;
	border: solid 1px var(--color-main);
}

section#info div.inner #comment_area .comment_btn .updateCancelButton {
	display: none;
}

section#info div.inner .recomment_area {
	display: none;
	width: calc(100% - 30px);
	margin: 10px 0 0 30px;
	/* 	border: solid 1px red; */
}

section#info div.inner .recomment_area textarea {
	width: calc(100% - 50px);
	height: 30px;
	padding: 0 5px;
	border: solid 1px var(--color-main);
}

section#info div.inner .recomment_area>button {
	width: 50px;
	height: 30px;
	border-radius: 0 5px 5px 0;
	float: right;
}

section#info div.inner .recomment_area .recomment_info {
	margin-top: 10px;
	margin-bottom: 10px;
}

section#info div.inner .recomment_area .recomment_info p.writer {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}

section#info div.inner .recomment_area .recomment_info p.date {
	float: right;
	font-size: 14px;
}

section#info div.inner .recomment_area pre.comment {
	margin-top: 5px;
}

section#info div.inner .board_list_btn {
	margin-top: 30px;
	margin-bottom: 40px;
}

section#info div.inner .board_list_btn button {
	width: 65px;
	height: 30px;
}

/* 글 수정 페이지 */
section#modify div.inner form {
	width: 100%;
}

section#modify div.inner form .input-group {
	width: 100%;
	margin-top: 15px;
	padding-bottom: 15px;
}

section#modify div.inner form .input-group>button {
	width: 100px;
	height: 30px;
}

section#modify div.inner form .input-group input[type='text'] {
	width: 100%;
	height: 30px;
}

section#modify div.inner form .input-group textarea {
	width: 100%;
	height: 250px;
}

section#modify div.inner form .input-group .img_box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}

section#modify div.inner form .input-group .img_box img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 600px;
}

section#modify div.inner form .input-group .img_box .close {
	position: absolute;
	top: 30px;
	right: 30px;
	background: none;
	border: none;
	color: white;
	font-size: 40px;
}

section#modify div.inner form .input-group .img_select {
	display: none;
}

section#modify div.inner form .preview_box {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

section#modify div.inner form .preview_box div {
	width: 50%;
}

section#modify div.inner form .preview_box img {
	width: 100%;
	object-fit: contain;
}

section#modify div.inner form .btn-area {
	width: 100%;
	margin-top: 30px;
	text-align: center;
}

section#modify div.inner form .btn-area button {
	width: 45px;
	height: 30px;
}

/* 관리자 페이지 */
section#admin .button_list {
	float: right;
	margin-bottom: 30px;
}

section#admin .button_list button {
	width: 55px;
	height: 30px;
}

section#admin div.inner table {
	width: 100%;
	text-align: center;
	border: solid 1px red;
	border-collapse: collapse;
}

section#admin div.inner table tr,
section#admin div.inner table tr th,
section#admin div.inner table tr td {
	border: solid 1px black;
}

section#admin div.inner table tr:nth-of-type(1) {
	height: 30px;
}

section#admin div.inner table tr:nth-child(even) {
	height: 100px;
}

section#admin div.inner table tr td:nth-of-type(1) {
	width: 50px;
}

section#admin div.inner table tr td>input[type=text],
section#admin div.inner table tr td textarea {
	height: 100px;
	font-size: 16px;
}

section#admin div.inner table tr td input[type=text] {
	width: 100%;
	border: none;
	text-align: center;
}

section#admin div.inner table tr td textarea {
	width: 100%;
	padding: 5px;
	border: none;
	vertical-align: middle;
}

section#admin div.inner table tr td img {
	width: 100%;
	vertical-align: middle;
}

section#admin div.inner table tr input:read-only {
	outline: none;
}

/* 모바일버전 */
@media screen and (max-width: 425px) {
	.mobile {
		/* 천성으로 적용 */
		display: initial;
	}

	section div.inner {
		padding: 0 10px;
	}

	.mobile-hide {
		display: none;
	}

	/* 글 목록페이지 */
	section#index div.inner .search-form select {
		width: 55px;
		height: 30px;
	}

	section#index div.inner .search-form input[name=searchKeyword] {
		width: calc(100% - 130px);
		height: 30px;
	}

	section#index div.inner .search-form button.search-btn {
		width: 55px;
		height: 30px;
		padding: 0 5px;
	}

	section#index div.inner button.write-btn {
		margin-top: 10px;
		margin-right: 4px;
	}

	section#index div.inner table {
		font-size: 16px;
	}

	section#index div.inner table td.number,
	section#index div.inner table td.date {
		font-size: 14px;
	}

	/* 세부 글 보기 */
	section#info div.inner div.container .board_info p.title {
		font-size: 20px;
	}

	section#info div.inner div.container .board_info p.date {
		font-size: 14px;
	}

	section#info div.inner div.container .text-group .img-box {
		flex-direction: column;
	}

	section#info div.inner div.container .text-group .img-box img {
		width: 100%;
	}
}