@charset "UTF-8";

:root {
	--color-light-main: #FFDE95;
	--color-main: #FFD26E;
	--color-blk: #000;
	--color-white: #fff;
	--color-gray: #D9D9D9;
	--ad-color-darkgray: #212121;
    --ad-color-gray: #444;
    --ad-color-semigray: #808080;
    --ad-color-lightgray: #D9D9D9;
}



* {
	white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.faqAdminsearchdiv{
	margin-bottom: 5px;
}

.faqAdminmaindiv {
	width: 100%;
}
/* FAQ 질문에 대한 스타일 */
.faq-a {
	word-break: break-word; /* 긴 단어가 있을 때 줄바꿈 */
	white-space: normal; /* 텍스트가 줄바꿈될 때 공간을 유지 */
}

/* 메인 테이블 스타일 */
.faqadminList_table {
	width: 100%;
	border-collapse: collapse;
}

.faqadminList_table th, .faqadminList_table td {
	border: 1px solid #000;
	padding: 10px;
	text-align: center;
}

.faqadminList_table th {
	background-color: var(--ad-color-lightgray); /* 약간 연한 배경색 */
	color: #000000;
}
#faqadminbtn{
	background-color: var(--ad-color-lightgray);
}


.btn-success {
	background-color: var(--ad-color-semigray); /* 버튼 색상을 사이드바와 통일 */
	border-color:  var(--ad-color-semigray);
}

.btn-success:hover {
	background-color:var(--ad-color-lightgray); /* 버튼 호버 시 색상 */
}

/* FAQ 관리 버튼 스타일 */
.faqadminbtn {
	margin: 5px 0;
	background-color: #fff; /* 사이드바 색상과 일치 */
	color: #000000;
	border: 1px solid #fff; /* 테두리 색상을 배경과 통일 */
	padding: 8px 16px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.faqadminbtn:hover {
	background-color: var( --ad-color-semigray); /* 호버 시 배경색을 살짝 어둡게 */
	color: #ffffff;
}

/* 글쓰기 버튼을 오른쪽 정렬할 때 사용 */
.faqadminbtn-container {
	text-align: right;
	margin-bottom: 10px;
}

/* 페이지네이션 스타일 */
.adminpagination {
	margin-top:20px;
	display: flex;
	list-style: none;
	justify-content: center;
	padding: 0;
	margin-top: 20px;
	top: 0px;
	left: 80%;
	right: 50%;
}

.adminpagination .adminpage-item {
	margin: 0 5px;
}

.adminpagination .adminpage-item a {
	display: block;
	padding: 8px 12px;
	border: 1px solid #fff; /* 사이드바와 동일한 색상 */
	border-radius: 4px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s, color 0.3s;
}

.adminpagination .adminpage-item a:hover {
	background-color: var(--ad-color-lightgray); /* 호버 시 배경 색상 변경 */
	color: #000;
}

.adminpagination .adminpage-item.active a {
	background-color:var(--ad-color-lightgray); /* 활성화된 페이지의 배경색 */
	color: #000; /* 활성화된 페이지의 텍스트 색상 */
	cursor: default;
}

.adminpagination .adminpage-item.active a:hover {
	background-color: var(--ad-color-lightgray); /* 활성화된 페이지는 호버 시 변화 없음 */
	color: #000;
}




