@charset "UTF-8";

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.find-container {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
}

.find-container .logo-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.find-container .logo-box img {
    width: 150px;
    cursor: pointer;
}

.result-box {
    width: 100%;
    margin-top: 20px;
}

.result-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.result-table td {
    padding: 12px;
    text-align: center;
    font-size: 16px;
    border-bottom: none;
}

.no-result {
    margin-top: 20px;
    color: #ff4d4d;
    font-size: 18px;
}

.no-result p {
    margin: 0;
}

.login-button {
    width: 100%;
	height: 53px;
	padding: 10px;
	margin-top: 10px;
	color: black;
	background-color: #faecbf;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 18px;
}

.login-button:hover {
    background-color: #ffd26e;
}