@charset "UTF-8";

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.find-container {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
}

.find-container .logo-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.find-container .logo-box img {
    width: 150px;
    cursor: pointer;
}

.login-button {
    width: 100%;
	height: 53px;
	padding: 10px;
	margin-top: 10px;
	color: black;
	background-color: #faecbf;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 18px;
}

.login-button:hover {
    background-color: #ffd26e;
}

/* 모바일 반응형 */
@media screen and (max-width: 768px) {
    .find-container {
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    .result-table th, .result-table td {
        font-size: 14px;
        padding: 10px;
    }
}
