@charset "UTF-8";

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.find-container {
	width: 450px;
	padding: 20px;
	text-align: center;
	align-items: center;
}

.find-container .logo-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.find-container .logo-box img {
    width: 150px;
    cursor: pointer;
}

.form-field {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}

.find-container input[type="text"] {
	width: 70%;
	padding: 12px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin-top: 10px;
	background-color: transparent;
	box-sizing: border-box;
	outline: none;
}

.find-container input[type="text"]::placeholder {
	color: #bbb;
}

.find-container input[type="text"]:focus {
	outline: none; 
}

#u_name, #u_id {
	width: 100%;
}

.doubleChk {
	text-align: center;
	width: 120px;
	height: 44px;
	font-size: 15px;
	border-radius: 5px;
	background-color: #e7e7e7;
	color: #000;
	cursor: pointer;
	float: right;
	margin-top: 10px;
	line-height: 44px; 
}

.doubleChk:hover {
	background-color: black;
	color: white;
}

.tbtn {
	display: flex;
	justify-content: space-between;
}

.timer {
    font-size: 16px;
    color: #FF0000; 
    font-weight: bold;
    float: right;
}

.error-message {
	color: red;
	font-size: 14px;
	margin-top: 5px;
	text-align: left;
}

.find-button {
	width: 100%;
	height: 53px;
	padding: 10px;
	margin-top: 10px;
	color: black;
	background-color: #ffd26e;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 18px;
}

.find-button:hover {
	background-color: #ffba17;
}

@media screen and (max-width: 425px) {
    .btn {
		display: flex;
		justify-content: space-between;
	}
	
	.doubleChk {
		text-align: center;
		width: 90px;
		height: 36px;
		padding: 4px;
		font-size: 12px;
		border-radius: 5px;
		background-color: #e7e7e7;
		color: #000;
		cursor: pointer;
		float: right;
		margin-top: 10px;
		line-height: 36px; 
	}
	
}