@charset "UTF-8";

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0;
}

.signup-container {
	width: 600px;
	margin: 50px auto;
	padding: 40px;
	text-align: center;
}

.signup-container .logo-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.signup-container .logo-box img {
    width: 150px;
    cursor: pointer;
}

.form-field {
	margin-top: 30px;
	align-items: center;
	margin-bottom: 15px;
	text-align: left;
}

.btn {
	margin-top: 15px;
}

.form-field label {
	width: 30%;
	font-size: 18px;
	font-weight: bold;
	display: block;
}

.form-field input[type="text"], .form-field input[type="password"],
	.form-field select {
	width: 75%;
	padding: 12px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin-top: 10px;
	background-color: transparent;
	box-sizing: border-box;
	outline: none;
}

.form-field input[type="text"]::placeholder, .form-field input[type="password"]::placeholder {
	color: #bbb;
}

#password, #password2, #name, #email, #sample4_roadAddress, #sample4_jibunAddress, #sample4_detailAddress, #sample4_extraAddress {
	width: 100%;
}

.eye-image {
	width: 27px;
	height: 27px;
	margin: 5px;
	margin-top: 40px;
}

.eye-btn {
	background: none;
	border: none;
	cursor: pointer;
	float: right;
}

.btn3 {
	width: 100%;
    position: relative;
    display: inline-block;
    margin-top: 15px;
}

.btn3 input {
    width: 100%;
    padding-right: 40px; 
}

.btn3 button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.api-btn, .check-btn, .check-btn2, .doubleChk {
	text-align: center;
	width: 140px;
	height: 44px;
	font-size: 15px;
	border-radius: 5px;
	border: none;
	background-color: #e7e7e7;
	color: #000;
	cursor: pointer;
	float: right;
	margin-top: 10px;
	line-height: 44px; 
}

.api-btn:hover, .check-btn:hover, .check-btn2:hover, .doubleChk:hover {
	background-color: black;
	color: white;
}

.tbtn {
	display: flex;
	justify-content: space-between;
}

.timer {
    font-size: 16px;
    color: #FF0000; 
    font-weight: bold;
    float: right;
}

.error-message {
	color: red;
	font-size: 14px;
	margin-top: 5px;
	text-align: left;
}

.success-message {
    color: blue;
   	font-size: 14px;
    margin-top: 5px;
    text-align: left;
}

.signup-button {
	width: 100%;
	height: 53px;
	padding: 10px;
	margin-top: 10px;
	color: black;
	background-color: #ffd26e;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
}

.signup-button:hover {
	background-color: #ffba17;
}

@media screen and (max-width: 425px) {
	
	.form-field label {
		width: 130px;
	}
	
	.form-field input[type="text"], .form-field input[type="password"],
	.form-field select {
		width: 65%;
	}
	
	.api-btn, .check-btn, .check-btn2, .doubleChk {
		width: 115px;
		height: 46px;
	}
	
}