@charset "UTF-8";

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0;
}

.signup-container {
	width: 600px;
/* 	width: 450px; */
	margin: 50px auto;
	padding: 40px;
	text-align: center;
}

.signup-container .logo-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.signup-container .logo-box img {
    width: 150px;
    cursor: pointer;
}

.form-field {
	margin-top: 30px;
	align-items: center;
	/* display: flex; */
	margin-bottom: 15px;
	text-align: left;
	border-bottom: 1px solid #000;
}

.form-field label {
	width: 30%;
	font-size: 18px;
	font-weight: bold;
	display: block;
}

.form-field input[type="text"], .form-field input[type="password"],
	.form-field select {
	width: 70%;
	padding: 12px;
	font-size: 16px;
	border: none;
	background-color: transparent;
	box-sizing: border-box;
	outline: none;
}

.form-field input[type="text"]::placeholder, .form-field input[type="password"]::placeholder {
	color: #bbb;
}

.eye-image {
	width: 27px;
	height: 27px;
	margin: 5px;
}

.eye-btn {
	background: none;
	border: none;
	cursor: pointer;
	float: right;
}

.api-btn, .check-btn, .check-btn2, .doubleChk {
	text-align: center;
	width: 120px;
	padding: 3px;
	font-size: 14px;
	cursor: pointer;
	margin: 5px;
	border-radius: 10px;
	border: 2px solid #ffd26e;
	color: black;
	background-color: #faecbf;
	float: right;
	margin-right: 10px;
}

.api-btn:hover, .check-btn:hover, .check-btn2:hover, .doubleChk:hover {
	background-color: #ffd26e;
}

.error-message {
	color: red;
	font-size: 14px;
	margin-top: 5px;
	text-align: left;
}

.success-message {
    color: blue;
   	font-size: 14px;
    margin-top: 5px;
    text-align: left;
}

.successPhoneChk {
	color: black;
	font-size: 14px;
	margin-top: 5px;
	text-align: left;
}

.signup-button {
	width: 100%;
	height: 53px;
	padding: 10px;
	margin-top: 20px;
	color: black;
	background-color: #faecbf;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 18px;
}

.signup-button:hover {
	background-color: #ffd26e;
}

@media screen and (max-width: 425px) {
	
	.form-field label {
		width: 130px;
	}
	
	#sample4_roadAddress, #sample4_jibunAddress {
        width: 100%; 
    }
	
	.btn {
		display: flex;
	}
	
	.api-btn, .check-btn, .check-btn2 {
		text-align: center;
		width: 130px;
		height: 28px;
		padding: 3px;
		font-size: 14px;
		border: 1px solid #555;
		background-color: #fff;
		color: #000;
		cursor: pointer;
		margin: 5px;
		border-radius: 3px;
		float: right;
		margin-right: 0px;
	}
	
	.doubleChk {
		text-align: center;
		width: 120px;
		height: 18px;
		padding: 4px;
		font-size: 14px;
		border: 1px solid #555;
		background-color: #fff;
		color: #000;
		cursor: pointer;
		margin: 0;
		border-radius: 3px;
		float: right;
		margin-top: 5px;
	}
}