/* 기본 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Quicksand', 'Noto Sans KR', sans-serif;
}

header nav {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #808080;
    /* 줄 색상과 두께 설정 */
    padding-bottom: 2px;
    /* 메뉴와 줄 사이 간격 설정 */
}

#wrap {
    width: 100%;
}

.clear {
    clear: both;
}

.m-menu {
    display: none;
}

.pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

a:link,
a:visited {
    color: black;
}

a:active {
    color: blue;
}

/* 헤더 스타일 */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    padding: 20px 0;
    font-size: 20px;
    background: #ffffff;
    margin: 0 auto;
}

header .logo-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

header .logo-box img {
    width: 150px;
    cursor: pointer;
}

header nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

header .main-menu {
    display: flex;
    justify-content: center;
    font-weight: 500;
}

header .main-menu li {
    height: 60px;
    padding: 0 15px;
    line-height: 60px;
    cursor: pointer;
}

header .main-menu li:hover {
    background: #ffffff;
}

/* 서브 메뉴 */
header .sub-menu,
header .sub-mp-menu {
    position: absolute;
    top: 140px;
    display: none;
    background: #F6C4B0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

header .sub-menu li,
header .sub-mp-menu li {
    padding: 5px 10px;
    cursor: pointer;
}

header .sub-menu li:hover,
header .sub-mp-menu li:hover {
    background: #ffffff;
    border-radius: 3px;
}

/* FAQ 서브 메뉴 */
header .faq-sub-menu {
    display: none;
    position: absolute;
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    top: 60px;
    z-index: 10;
}

header .faq-sub-menu li {
    padding: 5px 10px;
    cursor: pointer;
}

header .faq-menu:hover .faq-sub-menu {
    display: flex;
    flex-direction: column;
}

/* 로그인 박스 */
header .login-box {
    position: absolute;
    right: 20px;
    top: 20px;
}

/* index main */
main {
    width: 100%;
    min-height: calc(100vh - 400px);
    height: fit-content;
    margin-top: 50px;
/*     border: solid 1px red; */
}

/* main .inner {
	max-width: 1300px;
	min-height: 900px;
	height: fit-content;
	margin: 0 auto;
	border: solid 1px red;
} */

/* 푸터 */
footer {
    width: 100%;
    height: fit-content;
    margin-top: 40px;
    background: #FFD26E;
}

footer .inner {
    padding: 10px 30px;
}

footer .inner p:nth-of-type(1) {
    float: left;    
}

footer .inner p:nth-of-type(2) {
    text-align: right;
    float: right;
}

/* 모바일 메뉴 */
@media screen and (max-width: 425px) {

    header .main-menu,
    header .login-box {
        display: none;
    }

    header .ham-box {
        display: block;
        margin-left: auto;
    }
}