/* 기본 스타일 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Quicksand', 'Noto Sans KR', sans-serif;
}

#wrap {
	width: 100%;
}

.clear {
	clear: both;
}

.pointer {
	cursor: pointer;
}

.m-show {
	display: none;
}


:root {
	--color-light-main: #FFDE95;
	--color-main: #FFD26E;
	--color-blk: #000;
	--color-white: #fff;
	--color-gray: #D9D9D9;
}

a {
	text-decoration: none;
}

a:hover {
	color: red;
}

a:link,
a:visited {
	color: black;
}

a:active {
	color: blue;
}

/* 헤더 스타일 */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px 0;
	font-size: 20px;
	background: #ffffff;
}

header .logo-box {
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

header .logo-box img {
	width: 150px;
	cursor: pointer;
}

header .logo-box p {
	position: absolute;
	top: 50%;
	right: 0;
	display: inline-block;
	float: right;
	margin-bottom: 0;
	transform: translate(0, -50%);
}

header .logo-box #ham-btn {
	position: absolute;
	top: 50%;
	left: 20px;
	width: 50px;
	height: 50px;
	text-align: center;
	transform: translate(0, -50%);
}

header .logo-box #m-cart-btn {
	position: absolute;
	top: 50%;
	right: 20px;
	width: 50px;
	height: 50px;
	text-align: center;
	transform: translate(0, -50%);
}

header .logo-box #m-cart-btn a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	/* border: solid 1px red; */
}

header .logo-box #m-cart-btn a i {
	font-size: 40px;
}

header .logo-box #ham-btn span {
	width: 40px;
	height: 5px;
	background: var(--color-blk);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header .logo-box #ham-btn span:nth-child(1) {
	top: 25%;
}

header .logo-box #ham-btn span:nth-child(3) {
	top: 75%;
}

header nav {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	border-bottom: solid 2px var(--color-main);
}

header nav>ul {
	margin-bottom: 0;
}

header nav .userInfo-box {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
}

header nav .userInfo-box p {
	display: inline-block;
	margin-bottom: 0;
	margin-right: 10px;
}

header nav .userInfo-box button {
	border: none;
	background: transparent;
}

header nav .userInfo-box button i {
	font-size: 26px;
}


header .main-menu {
	display: flex;
	justify-content: center;
	font-weight: 500;
}

header .main-menu li {
	height: 60px;
	padding: 0 15px;
	line-height: 60px;
	cursor: pointer;
}

header .main-menu li:hover {
	background: #ffffff;
}

/* 서브 메뉴 */
header .sub-menu {
	position: absolute;
	top: 50px;
	display: none;
	background: rgb(250, 236, 191);
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	z-index: 5;
}

header .sub-menu li {
	cursor: pointer;
}

header .sub-menu li:hover {
	background: #ffffff;
}

header .sub-menu li a {
	display: block;
	width: 100%;
}

/* FAQ 서브 메뉴 */
header .faq-sub-menu {
	display: none;
	position: absolute;
	background: #ffffff;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	top: 60px;
	z-index: 10;
}

header .faq-sub-menu li {
	padding: 5px 10px;
	cursor: pointer;
}

header .faq-menu:hover .faq-sub-menu {
	display: flex;
	flex-direction: column;
}

header #m-main-menu {
	display: none;
}

header #m-main-menu li button {
	min-width: 100px;
	max-width: fit-content;
	background: transparent;
	font-size: 16px;
	border: none;
}

header #m-main-menu li button p {
	display: inline-block;
	margin-right: 10px;
}

header #m-main-menu li button a {
	font-size: 14px;
}

header .m-sub-menu {
	display: none;
}

/* 사용자 페이지 컨텐츠 너비 설정 */
main {
	width: 100%;
	min-height: calc(100vh - 300px);
	height: fit-content;
	margin-top: 50px;
	/* border: solid 1px red; */
}

main section {
	max-width: 1200px;
	margin: 0 auto;
	/* border: solid 1px blue; */
}

main section#user_index_section .inner #product_box {
	width: 100%;
	height: fit-content;
	margin-bottom: 50px;
}

main section#user_index_section .inner #product_box .list {
	display: flex;
	width: 100%;
}

main section#user_index_section .inner #product_box .list .card {
	max-width: 285px;
	margin: 0 10px;
	border: solid 1px #d9d9d9;
}

main section#user_index_section .inner #product_box .list .card a {
	display: block;
	width: 100%;
}

main section#user_index_section .inner #product_box .list .card:first-child {
	margin-left: 0;
}

main section#user_index_section .inner #product_box .list .card:last-child {
	margin-right: 0;
}

main section#user_index_section .inner #product_box .list .card img {
	width: 100%;
}

main section#user_index_section .inner #used_box {
	float: left;
}

main section#user_index_section .inner #community_box {
	float: right;
}

main section#user_index_section .inner .content_box {
	width: 49%;
	height: fit-content;
	/* 	border: solid 1px green; */
}

main section#user_index_section .inner .content_box h3 {
	width: 100%;
	padding-bottom: 10px;
	border-bottom: solid 1px #d9d9d9;
}

main section#user_index_section .inner .content_box ul {
	width: 100%;
}

main section#user_index_section .inner .content_box ul li {
	width: 100%;
	height: 50px;
	/* border: solid 1px red; */
}

main section#user_index_section .inner .content_box ul li a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	/* border: solid 1px blue; */
}

main section#user_index_section .inner .content_box ul li p {
	height: fit-content;
	margin-bottom: 0;
	/* border: solid 1px red; */
}

main section#user_index_section .inner .content_box ul li p.title {
	width: 65%;
	font-size: 20px;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* 	border: solid 1px red; */
}

main section#user_index_section .inner .content_box ul li p.title span {
	margin-right: 10px;
	font-weight: bold;
}

main section#user_index_section .inner .content_box ul li p.date {
	width: 30%;
	float: right;
	text-align: right;
	/* 	border: solid 1px blue; */
}

main section#user_index_section .inner .content_box h3 {
	display: inline-block;
}

main section#user_index_section .inner .content_box button.about_btn {
	float: right;
}

/* 푸터 */
footer {
	width: 100%;
	height: fit-content;
	margin-top: 40px;
	background: #FFD26E;
}

footer .inner {
	padding: 10px 30px;
}

footer .inner p {
	margin-bottom: 0;
}

footer .inner p:nth-of-type(1) {
	float: left;
}

footer .inner p:nth-of-type(2) {
	text-align: right;
	float: right;
}

/* 모바일 메뉴 */
@media screen and (max-width: 425px) {

	.m-show {
		display: initial;
	}

	.m-hide {
		display: none !important;
	}

	header {
		position: fixed;
		top: 0;
		padding-bottom: 0;
		z-index: 5;
	}

	header .logo-box p {
		right: 20px;
	}

	header .main-menu,
	header .login-box {
		display: none;
	}

	header .ham-box {
		display: block;
		margin-left: auto;
	}

	header nav.m-show ul li {
		height: 50px;
		font-size: 24px;
		text-align: center;
		line-height: 50px;
	}

	header nav.m-show ul li>a {
		display: block;
		height: 50px;
		text-align: center;
	}

	main {
		margin-top: 150px;
	}

	main section#user_index_section .inner {
		padding: 0 30px;
	}

	main section#user_index_section .inner #product_box .list {
		flex-direction: column;
	}

	main section#user_index_section .inner #product_box .list .card {
		width: 100%;
		max-width: 400px;
		margin-top: 15px;
		margin-left: auto;
		margin-right: auto;
	}

	main section#user_index_section .inner #product_box .list .card:first-child {
		margin-left: auto;
	}

	main section#user_index_section .inner #product_box .list .card:last-child {
		margin-right: auto;
	}

	main section#user_index_section .inner #list_box {
		display: flex;
		flex-direction: column;
	}

	main section#user_index_section .inner .content_box {
		width: 100%;
	}

	main section#user_index_section .inner .content_box ul li p.title {
		font-size: 18px;
	}

	main section#user_index_section .inner .content_box ul li p.title span {
		display: none;
	}


	footer .inner {
		padding: 10px;
		text-align: center;
	}

	footer .inner p {
		font-size: 14px;
		text-align: center;

	}

	footer .inner p:nth-of-type(2) {
		width: 100%;
		float: left;
		text-align: center;
		margin-top: 10px;
	}
}